.projectCard {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  height: 100px;
  .projectCard_section1_div1 {
    display: flex;
    align-items: center;
    margin-left: 35px;
  }
  .projectCard_section1_h4_1 {
    font-size: 30px;
    color: #404040;
    font-weight: 550;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .projectCard_section1_h4_2 {
    color: #e6e6e6;
    font-size: 20px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 7px 14px;
    border-radius: 10px;
    margin-left: 20px;
    background-color: #2d446e;
  }
  .projectCard_section1_div2 {
    display: flex;
    align-items: center;
    margin-right: 35px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  .projectCard_section1_h4_3 {
    font-size: 18px;
    font-weight: 400;
    color: #8a8a8a;
  }
  .projectCard_section1_h4_4 {
    font-size: 18px;
    font-weight: 400;
    color: #007aff;
    padding-left: 5px;
  }
}
.projectCard_section2 {
  margin-top: -35px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .projectCard_section2_div1 {
    margin-left: 35px;
    display: flex;
  }
  .projectCard_section2_div2_h4_1 {
    font-size: 20px;
    font-weight: 700;
    color: #2d446e;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .projectCard_section2_div2_h4_5 {
    color: #2d446e;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-top: 5px;
    padding-left: 4px;
    font-size: 18px;
  }
  .projectCard_section2_div2 {
    display: flex;
    margin-right: 45px;
  }
  .projectCard_section2_div2_h4_2 {
    font-size: 20px;
    border: 1px solid #ccc;
    color: #cccccc;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px 7px 3px 5px;
  }
  .projectCard_section2_div2_h4_3 {
    font-size: 20px;
    margin-left: 10px;
    color: #cccccc;
    background-color: #2d446e;
    border-radius: 4px;
    padding: 5px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .projectCard_section2_div2_h4_4 {
    font-size: 20px;
    padding-left: 10px;
    color: #cccccc;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .projectCard_section2_div2_h4_6 {
    font-size: 20px;

    color: #2d446e;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 5px 5px;
  }
}
